$blue-color: #0d6efd;
$black-gray-color: #212529;


.nav-container {
    
    width: 100%;
    height: 8vh;
    padding: 2px 00px;
    background-color: $black-gray-color ;
}

.navbar-brand {
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    white-space: nowrap;
}
.button-container{
    display: flex;
    margin-left: 150px;
}
.main-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
}
.btn-container{
    display: flex;
}

    button:hover {
        cursor: pointer;
    }
    svg{
        cursor: pointer;
    }

    button {
        font-size: 1rem;
        border: none;
        margin: 5px 15px;
        text-decoration: none;
        font-family: Open Sans;
    }


.add-order,
.portfolio,
.market-map,
.about-the-app {
    color: $blue-color;
    background-color: $black-gray-color;
    white-space: nowrap;

}

.add-order-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px 15px;

}

.value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    background-color: rgb(214, 186, 3);
    color: #fff;
    border-radius: 50%;
}

.profolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2px 15px;
}

.value2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
    background-color: rgb(214, 31, 3);
    color: #fff;
    border-radius: 50%;
}
.check-btn{
    position: fixed;
    // right: 10px;
    // top: -20px;
    background-color: #fff;
    display: none;
    // justify-content: center;
    // width: 60px;
    // height: 50px;
    svg{
        width: 60px;
        height: 60px;
    }

}
.check-btn,
#check{
    display: none;
    cursor: pointer;
}

.navbar-toggler {
    display: none;
    cursor: pointer;
}
// #check
//  {
//     display: none;
//     cursor: pointer;
// }

.btn {
    position: fixed;
    
    right: 10px;
    top: 10px;
    color: #e62020;
    z-index: 10;
    // background-color: yellow;
}


.green {
    background-color: rgba(4, 117, 4, 0.81);
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 45px;
    margin-top: 10px;
    font-size: 1rem;
    color: #e9e9e9bb;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.red {
    background-color: rgba(191, 38, 14, 0.81);
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 45px;
    margin-top: 10px;
    font-size: 1rem;
    color: #e9e9e9bb;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}


@media(max-width: 975px) {
    .check-btn {
        display: block;
        
    }
    
      #check:checked~.main-btn-container {
        display: flex;
        flex-direction: column;
        height: 300px;
    }
      #check:checked~.nav-container {
        
        height: 300px;
    }

    .green {
        background-color: rgba(4, 117, 4, 0.81);
        border: none;
        border-radius: 5px;
        width: 80%;
        height: 45px;
        margin-top: 10px;
        font-size: 1rem;
        color: #e9e9e9bb;
    }

    .red {
        background-color: rgba(191, 38, 14, 0.81);
        border: none;
        border-radius: 5px;
        width: 95%;
        height: 45px;
        margin-top: 10px;
        font-size: 1rem;
        color: #e9e9e9bb;
    }
}

// .nav-button-container button:first-child {
//     margin-left: 0px;
// }